@inherits LayoutComponentBase

@inject IDialogService DialogService

<MudThemeProvider />
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

@Body

<MudButton
    Class="rounded-pill"
    Style="bottom: 30px; right:  30px; position: absolute"
    Color="Color.Primary"
    Variant="Variant.Outlined"
    OnClick="OpenHelpDialog">
    Request Help
</MudButton>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private Task OpenHelpDialog()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            CloseButton = true,
        };

        return DialogService.ShowAsync<HelpDialog>(string.Empty, options);
    }
}
