@page "/home"

<h1>Home</h1>

<h2>Exams</h2>
<MudTable
    Items="@exams"
    Hover="true"
    Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>Date</MudTh>
        <MudTh>Exam</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Date">@context.Date</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd>
            <MudButton
                Class="rounded-pill"
                Variant="Variant.Filled"
                Color="Color.Primary"
                Target="_self"
                Href="/overview">
                Take exam
            </MudButton>
            <MudTooltip Text="Unregister from exam">
                <MudIconButton
                    Color="Color.Error"
                    Icon="@Icons.Material.Filled.Delete"
                    Variant="Variant.Filled"
                    Class="rounded-pill"/>
            </MudTooltip>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private List<Exam> exams =
    [
        new("Introduction to Programming", DateTime.Parse("14.06.2025 13:41:53")),
        new("Computer Networks", DateTime.Parse("12.06.2025 17:12:42")),
        new("Database Systems", DateTime.Parse("06.06.2025 14:14:42")),
    ];

    public record Exam(string Name, DateTime Date);

}